/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ffffff;
}

.mat-tab-label {
  opacity: 1 !important;
  color: white
}

.mat-tab-labels {
  background-color: rgba(0, 0, 0, 0.5);
}

.mat-table {
  background-color: rgba(0,0,0, 0.7);
}

.mat-header-cell {
  color: white !important;
}

.mat-cell {
  color: white !important;
}
