mat-header-cell,
mat-cell {
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    border-bottom-color: rgba(255, 255, 255, 0.274);
}

mat-table {
    overflow-x: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

mat-tab {
    color: black
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}

.mat-card {
    background: rgb(99, 99, 99);
}

.mat-card.first-place {
    border: 6px solid rgb(255, 238, 0);
    border-radius: 5px;
}

.mat-card.second-place {
    border: 6px solid rgb(177, 177, 177);
    border-radius: 5px;
}

.mat-card.third-place {
    border: 6px solid rgb(122, 55, 0);
    border-radius: 5px;
}

.example-card {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-sort-header-container {
    margin-left: 18px;
}

.mat-row,
.mat-header-row {
    border-bottom-width: 0px;
}

.victory {
    background-color: rgba(21, 255, 0, 0.425)
}

.defeat {
    background-color: rgba(255, 17, 0, 0.425)
}

.icon-margin {
    margin-right: 8px;
}

.augusto-winning {
    background: url("http://3.bp.blogspot.com/-q9R8ml6TsIE/Vm13Og-1lbI/AAAAAAAABQo/qONQEVB311o/s1600/Hecarim_0.jpg") repeat center top;
}

.andre-winning {
    background: url("https://4.bp.blogspot.com/-TWIlDHNDldw/XHRTEDIiecI/AAAAAAABPfI/v4ptrFXO7-U5NVJiWTACv5aj8IqnVYUqACLcBGAs/s1600/morganaloadscreen.kayle_rework.jpg") repeat center top;
}

.alexandre-winning {
    background: url("https://i.pinimg.com/originals/77/90/60/77906069eb5887bab94d97b38ddb1015.jpg") repeat center top;
}

.content-tab {
    height: 100vh;
    color: white;
    text-align: center;
    padding: 3%;
}

.fab-button {
    z-index: 5;
    position: fixed;
    display: flex;
    align-self: flex-end;
    bottom: 0;
    right: 0;
    margin-bottom: 5%;
    margin-right: 5%;
}