<div [ngClass]="getWinnerClassName()">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="icon-margin">star</mat-icon>
                STATUS
            </ng-template>
            <div class="content-tab" style="margin-top: 20px">
                <ng-container *ngIf="ranking && ranking.length > 0">
                    <mat-grid-list cols="4" rowHeight="200px">
                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <div class="container">
                                <img src="../../assets/img/first_molding.png" style="max-height: 200px" />
                                <div class="centered">
                                    <div>{{ ranking[0].name.toUpperCase() }}</div>
                                    <div>{{ ranking[0].score }} PONTOS</div>
                                    <img class="blink-effect" *ngIf="ranking[0].name === playerOnHotStreak" src="../../assets/img/hotstreak.png" style="max-height: 40px" />
                                </div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" style="margin-top: 10px">
                            <div class="container">
                                <img src="../../assets/img/second_molding.png" style="max-height: 200px" />
                                <div class="centered">
                                    <div>{{ ranking[1].name.toUpperCase() }}</div>
                                    <div>{{ ranking[1].score }} PONTOS</div>
                                    <img class="blink-effect" *ngIf="ranking[1].name === playerOnHotStreak" src="../../assets/img/hotstreak.png" style="max-height: 40px" />
                                </div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1" style="margin-top: 10px">
                            <div class="container">
                                <img src="../../assets/img/third_molding.png" style="max-height: 200px" />
                                <div class="centered">
                                    <div>{{ ranking[2].name.toUpperCase() }}</div>
                                    <div>{{ ranking[2].score }} PONTOS</div>
                                    <img class="blink-effect" *ngIf="ranking[2].name === playerOnHotStreak" src="../../assets/img/hotstreak.png" style="max-height: 40px" />
                                </div>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </ng-container>

                <ng-container *ngIf="!ranking || ranking.length === 0">
                    <div class="content-tab">
                        <div style="background-color: rgba(0,0,0, 0.7)" class="mat-h2 mat-title">POR ENQUANTO NÃO EXISTEM DADOS PARA SEREM ANALISADOS</div>
                    </div>
                </ng-container>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="icon-margin">query_builder</mat-icon>
                HISTÓRICO
            </ng-template>
            <div class="content-tab">
                <mat-table [dataSource]="matchs" class="mat-elevation-z8">
                    <ng-container matColumnDef="player">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>JOGADOR</mat-header-cell>
                        <mat-cell *matCellDef="let match">{{ match.player }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="champion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>CAMPEÃO</mat-header-cell>
                        <mat-cell *matCellDef="let match">{{ match.champion }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>DATA</mat-header-cell>
                        <mat-cell *matCellDef="let match">{{ match.date | date: 'dd/MM/yyyy' }}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row [ngStyle]="{ cursor: cursorStyle }" (mouseenter)="changeCursorStyle($event)" (mouseleave)="changeCursorStyle($event)" (click)="deleteMatch(match)" *matRowDef="let match; columns: displayedColumns" [ngClass]="paintRow(match)"></mat-row>
                </mat-table>
            </div>
        </mat-tab>
    </mat-tab-group>

    <!-- Fab Button -->
    <div class="fab-button">
        <button mat-fab color="warn" (click)="openDialogToCreateNewMatch()">
      <mat-icon>add</mat-icon>
    </button>
    </div>
</div>
<!--ng-container-->